<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
    <head>
      <!-- Volta CSS Stuff -->
      <link rel="icon" type="image/ico" href="https://d2gl3otkt8l7qr.cloudfront.net/favicon.ico">
      <link rel="stylesheet" href="https://d2gl3otkt8l7qr.cloudfront.net/assets/volta2/dist/css/volta.css">
      <script
      language="JavaScript" 
      type="text/javascript" 
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">    
    </script>    
    <script src="http://malsup.github.com/jquery.form.js"></script>  
    </head>
  <body>
    <div class="Vlt-margin--top3 Vlt-margin--M-top2 Vlt-margin--S-top1">
      <div class="Vlt-col">
        <header class="Vlt-header">
          <div class="Vlt-grid">
            <div class="Vlt-col">
                <div class="Vlt-col Vlt-col--1of2">
                  <div class="Vlt-header__logo">
                    <a href="/login" >
                      <img height="150" width="150" src="https://s3-us-west-2.amazonaws.com/assets-petesweb.io/assets/volta2/images/logos/vonage-logo.svg#volta">
                    </a>
                  </div>
                </div>
            </div>
            <div class="Vlt-col Vlt-col--1of4">
            </div>
            <div class="Vlt-col Vlt-col--4of4 Vlt-right">
              <% @msg = ""%>
              <% if @user %>
              <%   @msg = "logout: " unless @user == LOGIN_MSG %>
              <% else %>
              <%   @user = "Unknown" %>
              <% end %>
              <a href="/logout"><div id="auth_email_address" class="Vlt-badge Vlt-badge--large Vlt-badge--transparent Vlt-badge--black"><%=@msg%><%=@user.split("@")[0]%></div></a>
            </div>        
          </div>
      </header>
      </div>
      <p></p>
      <p></p>
    <div class="Vlt-grid">
      <div class="Vlt-col">
      </div>
      <div class="Vlt-col">

      </div>
      <div class="Vlt-col">
      </div>
      <div class="Vlt-col">
      </div>
      <div class="Vlt-grid__separator"><!--Empty line breaker--></div>
      <div class="Vlt-col">       
      </div>
      <div class="Vlt-col Vlt-col--3of4">
        <div class="Vlt-col Vlt-col--2of3">
          <% if @error %>
            <div class="Vlt-callout Vlt-callout--critical">
              <i></i>
              <div class="Vlt-callout__content">
                <p><%=@error %></p>
              </div>
            </div>
          <% elsif @success %>
            <div class="Vlt-callout Vlt-callout--good">
              <i></i>
              <div class="Vlt-callout__content">
                <p><%=@success%></p>
              </div>
            </div>
          <% elsif @warning %>
            <div class="Vlt-callout Vlt-callout--warning">
              <i></i>
              <div class="Vlt-callout__content">
                <p><%=@warning%></p>
              </div>
            </div> 
          <% elsif @tip %>
            <div class="Vlt-callout Vlt-callout--tip">
              <i></i>
              <div class="Vlt-callout__content">
                <p><%=@tip%></p>
              </div>
            </div>  
          <% end %>
        <%= yield %>  
        </div>      
      </div>
      <div class="Vlt-col">       
      </div>                          
    </div>
    </div>   
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/assets-petesweb.io/assets/volta2/js/svgxuse.min.js"></script>
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/assets-petesweb.io/assets/volta2/dist/js/volta.min.js"></script> 
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/assets-petesweb.io/assets/volta2/dist/js/popper.min.js"></script> 
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/assets-petesweb.io/assets/volta2/dist/js/tooltip.min.js"></script>     

    <script type="text/javascript">
      Volta.init(['accordion','tooltip']);
    </script>     
    </body>
</html>
