<div class="Vlt-col Vlt-col--2of3">
  <div class="Vlt-card Vlt-bg-white">
    <h2>Delete Trigger for <%=@item['dnis']%></h2>
    <div class="Vlt-table Vlt-table--data">
      <table>
        <thead>
          <tr>
            <% @item.keys.each do |k| %>
              <th><b><%=k%></b></th>
            <% end %>
          </tr>   
        </thead>
        <tbody>
          <tr>
          <% @item.each do |k,v| %>
            <td><%=v%></td>               
          <% end %>
          </tr>
        </tbody> 
      </table>
    </div>
    <div align="center">
      <form method="POST" action="/trigger_pop/delete">
        <input hidden name="dnis" value=<%=@item['dnis']%>>
        <input hidden name="trigger_pop" value=<%=@item['trigger_pop']%>>
        <input hidden name="description" value=<%=@item['description']%>>
        <input hidden name="is_full_svc" value=<%=@item['is_full_svc']%>> 
       
        <div class="Vlt-form__element Vlt-form__element--big">            
          <button class="Vlt-btn Vlt-btn--destructive" type="Submit">Delete Forever</button>
        </div>   
      </form>
      <form action="/trigger_pops">
        <div class="Vlt-form__element Vlt-form__element--big">            
          <button class="Vlt-btn Vlt-btn--tertiary" type="Submit">Return to Saftey</button>
        </div>   
      </form>
    </div>
  </div>
</div>

